/* 
https://coolors.co/2d2d2a-4c4c47-848fa5-c14953-e5dcc5
https://coolors.co/1f1f1e-64b6ac-c0fdfb-daffef-fcfffd
https://coolors.co/f06543-e8e9eb-e0dfd5-313638-f09d51
 */
* {
  box-sizing: border-box;
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

body{
	background-color:#181818;
	color:#535350;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;


	line-height: 1.6em;
	margin: 0;
}

a{
	text-decoration: none;
	color: #FCFFFD;
}

td{
	 width: 150px;
	 height: 50px;
	 margin: auto;
	 position: relative;
}

 input {
	width:70%;
	height: 30px;
	background-color: rgba(0,0,0,0);
	color: white;
 }

.content {
  position: fixed;
  /* top: 10%;
  left: 20%;
  background: rgba(30, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
  padding: 50px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

